.MeaningItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5px;
    margin-left: 0;
    padding: 10px;
    font-size: 1.1em;
    width: 100%;
    /* border: 1px solid lightgoldenrodyellow; */
    border-radius: 5px;
    background-color: lightgray;
}

.definitions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.DefinitionItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: grey; */
    margin-block: 10px;
    width: 100%;
}

.DefinitionItem p {
    text-align: left;
}