.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #F0F0F0;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  height: 100%;
  width: 100%;
}

.wordContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: max-content;
  padding: 5px;
  width: 100%;
  background: linear-gradient(144deg, rgba(199,199,199,1) 0%, rgba(93,93,93,1) 100%);
}

.myPerfectInput {
  font-size: 1.2em;
  padding: 10px;
  margin: 10px;
  width: 20em;
  border-radius: 0px 5px 5px 0px;
  border: none;
  outline: none;
  transition: all .2s ease-in-out;
}

.myPerfectInput:focus {
  margin-left: 7px;
  border-radius: 5px;
}

.myButton {
  padding: 10px;
  margin-right: 10px;
  background-color: #FFFFF1;
  /* border: 1px solid deepskyblue; */
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.23);
  font-size: 1.1em;
  font-weight: 700;
  outline: none;
  transition: all .3s ease-in-out;
}

.myButton:hover {
  background-color: deepskyblue;
  /* border: 1px solid lightblue; */
  background-color: darkslategrey;
  /* box-shadow: 0 0px 10px hsla(20, 67%, 75%, 0.15); */
  color: #FFFFF1;
  transform: translateY(-2px);
}

.inputContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}